<!-- Content Header (Page header) -->
   <div class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1 class="m-0 text-dark">All Posts</h1>
         </div><!-- /.col -->
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
             <li class="breadcrumb-item active"> Posts</li>
             <li class="breadcrumb-item active">All Post</li>
           </ol>
         </div><!-- /.col -->
       </div><!-- /.row -->

     </div><!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->




   <section class="content">
     <div class="container-fluid">
       <!-- Info boxes -->
       <div class="row">
         <div class="col-12 col-sm-12 col-md-12">
           <div class="info-box">
             <!-- main -->
          <div class="col-sm-12">
            <div  class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <input type="text" value="" onkeyup="search()" id="search" placeholder="Search" class="form-control" >
              </div>
              <div align="right" class="col-sm-4">
                  <a href="<%= new_posts_path %>" class="btn btn-default" >Create New Blog</a>
              </div>

            </div>
            <hr>
            <br>
            <div id="post-div" >
                <% color = ['lightblue','lightcoral','lightcyan','lightgoldenrodyellow', 'lightgreen','lightsalmon']  %>
                <% if post_count > 0  %>
                    <% @posts.each do |p| %>
                    <% u = User.find(p.user_id) %>
                       <div class="post-div">
                         <blockquote class="creator" style="background: <%= color.sample(random: SecureRandom)  %>" >
                           <% if u.image.attached? %>
                             <%= image_tag u.image , :width => "32px" ,:height => "32px" ,:class => "img-circle" %>
                            <% else %>
                              <%= image_tag 'no_user.png' , :width => "32px" ,:height => "32px" ,:class => "img-circle" %>
                            <%end%>
                           &nbsp;&nbsp;  <%= u.first_name+' '+u.last_name %>
                            <p style="float :right" ><i><small><%= time_ago_in_words(p.created_at,include_seconds: true)%></small></i></p>
                         </blockquote>

                           <blockquote class="title">
                               <i><q><b><%= p.title %></b></q></i>
                           </blockquote>
                            <% if p.post_images.attached? %>
                             <div align="center" class="col-sm-12">
                               <% width = 950 /  p.post_images.count  %>
                               <% p.post_images.each do |i|  %>
                                      <%= image_tag i ,:width => "#{width}"  ,:height => "200px;" ,:class =>"img-rounded" %>
                               <%end%>
                             </div>
                             <%end%>

                           <blockquote class="content">
                             <%= p.content %>
                           </blockquote>

                           <div class="row row-footer">
                              <div class="col-sm-1">
                                  <i onclick="like(<%= p.id %>)" class="fa fa-heart <%= "liked" if check_like(p.id) > 0 %>" id="heart<%= p.id %>" ></i> <span class="like_count"  id="like_count<%= p.id %>" ><%= p.likes.count %><span>
                              </div>
                              <div class="col-sm-11 comment-box"  >
                                  <div class="row">
                                    <div id="showCommentBox<%= p.id %>" >
                                      <% if p.comments.count > 0 %>
                                        <% p.comments.each do |c| %>
                                          <div class="container comment">
                                              <b><%= get_comment_username(c.user_id) %> :- </b><%= c.comment %>
                                              <button  class="badge bg-gray reply" onclick="reply('<%= get_comment_username(c.user_id) %>',<%= c.id %>,<%= p.id  %>)"   ><small>Reply</small></button>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    </div>
                                      <div class="col-sm-11">

                                          <input type="text" class="form-control" id="comment<%= p.id %>" placeholder="Enter Comment..." name="" value="">
                                      </div>
                                      <div class="col-sm-1 sendbox" >
                                          <i class="fa fa-send" onclick="pushComment(<%= p.id %>)" ></i>
                                      </div>
                                  </div>
                              </div>
                           </div>
                       </div>
                       <br>
                    <% end %>
                    <div class="col-sm-12" >
                        <%= paginate @posts %>
                    </div>
                <% else %>
              </div>
                    <div class="alert alert-warning text-center">
                          <h5><i><q>Posts Unavailable</q></i></h5>
                    </div>
                <% end %>


          </div>
          <!-- main -->


        </div>
      </div>
<!-- /.col -->
  </div>
<!-- /.row -->
</div><!--/. container-fluid -->
</section>
<!-- /.content -->
<script type="text/javascript">
  function like(id)
  {
    $.ajax({
      url : '<%= likes_path %>',
      type : 'post',
      data : {
        'user_id': <%= current_user.id %>,
        'post_id': id
      },
      success : function(data){
        // alert(data);
        $("#heart"+id).toggleClass("liked");
        $('#like_count'+id).html(data.likes);
      }
    })
  }


  function pushComment(id)
  {
      let comment = $('#comment'+id).val();
      if (comment != ''){
        $.ajax({
          url : "<%= comments_path %>",
          type : "post",
          data : {
            'comment[post_id]': id,
            'comment[user_id]' : <%= current_user.id %>,
            'comment[comment]': comment
          },
          success : function(data){
            // alert(data);
            let html = $('#showCommentBox'+id).html();
            let allcomment = html + data;
            $('#showCommentBox'+id).html(allcomment);
            $('#comment'+id).val('');
          }
        });
      }
  }

  function reply(name,comment_id,id)
  {
    $('#comment'+id).val('');
    let html = "@"+name+" ";
    $('#comment'+id).val(html);
    // alert(name +' '+comment_id);
  }

  // serach function
  function search()
  {
    let search = $('#search').val();
    // alert(search);
    $.ajax({
      url : "<%= search_path %>",
      method: "get",
      data :{
        search: search
      },
      success:(data)=>{
        $('#post-div').html(data);
      }
    });
  }
</script>
