<!-- Content Header (Page header) -->
   <div class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1 class="m-0 text-dark">User Profile</h1>
         </div><!-- /.col -->
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
             <li class="breadcrumb-item active">Profile</li>
           </ol>
         </div><!-- /.col -->
       </div><!-- /.row -->
     </div><!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->
   <!-- Main content -->
       <section class="content">
         <div class="container-fluid">
           <!-- Info boxes -->
           <div class="row">
             <div class="col-12 col-sm-12 col-md-12">
               <div class="info-box">
               <table class=" table table-bordered" >
                   <tr>
                     <th>Name</th>
                     <td>
                       <%= @user.first_name+' '+@user.last_name %>
                     </td>
                   </tr>
                   <tr>
                     <th>email</th>
                     <td>
                       <%= @user.email %>
                     </td>
                   </tr>
                   <tr>
                     <th>DOB</th>
                     <td>
                         <% if @user.dob? %>
                             <% date = @user.dob %>
                             <%= date.to_formatted_s(:rfc822)  %>
                         <% else  %>
                             <p class="text-danger" >Not Set Yet</p>
                         <% end %>
                     </td>
                   </tr>
                   <tr>
                     <th>Gender</th>
                     <td>
                         <% if @user.gender? %>
                             <% if @user.gender == 1 %>
                                 <p> <i class="fa fa-male" > Male </i> </p>
                             <% else %>
                                 <p> <i class="fa fa-female" > Female </i> </p>
                             <% end %>
                         <% else  %>
                             <p class="text-danger" >Not Set Yet</p>
                         <% end %>
                     </td>
                   </tr>
                   <tr>
                     <th>Image</th>
                     <td>
                       <% if @user.image.attached? %>
                         <%= image_tag(@user.image ,size: "100x100") %>
                       <% else %>
                         <%= image_tag('no_user.png' ,size: "100x100") %>
                       <% end %>
                     </td>
                   </tr>
                   <tr>
                     <td colspan="2" >
                         <%= link_to "Fix Profile",edit_profiles_path(@user.id),:class => "btn btn-primary" %>
                         <%= link_to "Delete Account", profiles_path(@user.id),:method => "delete" ,:class => "btn btn-danger",:data => {:confirm => 'Are you sure?'} %>
                     </td>
                   </tr>
               </table>
              </div>
            </div>
             <!-- /.col -->
           </div>
           <!-- /.row -->




         </div><!--/. container-fluid -->
       </section>
       <!-- /.content -->
