 <!DOCTYPE html>
<html>
  <head>
    <% title = '' %>
    <% title = 'Dashboard' if controller.controller_name == 'dashboard' %>
    <% title = 'Posts' if controller.controller_name == 'posts' %>
    <% title = 'Profile' if controller.controller_name == 'profiles' %>

    <title><%= '::'+title+'::' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  class="hold-transition sidebar-mini" >

    <div class="wrapper">
      <!-- navbar -->
       <%= render "layouts/header" %>
       <!-- nav -->

  <!-- Sidebar -->
       <%= render "shared/sidebar" %>


       <div class="content-wrapper">
         <% flash.each do |type,message| %>
             <% if type == 'notice' || type == 'alert' %>
               <blockquote class="alert alert-info"><%= message %></blockquote>
              <%else%>
                <blockquote class="alert alert-<%= type %>"><%= message %></blockquote>
              <%end%>
           <%end%>
           <%= yield %>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
           <!-- Control sidebar content goes here -->
         </aside>
         <!-- /.control-sidebar -->

         <!-- Main Footer -->
         <footer class="main-footer">
           <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io/">AdminLTE.io</a>.</strong>
           All rights reserved.
           <div class="float-right d-none d-sm-inline-block">
             <b>Version</b> 3.0.0
           </div>
         </footer>
        </div>
           <%= render "layouts/footer" %>
      </body>
</html>
