 <!DOCTYPE html>
<html>
  <head>
    <title>Practical</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'test', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <!-- <div class="col-sm-9"> -->
        <%= render "layouts/header" %>
      <!-- </div> -->


          <div class="col-sm-2 sidebar">
            <%= render "shared/sidebar" %>
          </div>
          <div class="col-sm-10 content-wrapper">
            <% flash.each do |type,message| %>
              <% if type == 'notice' || type == 'alert' %>
                <div class="alert alert-info"><%= message %></div>
               <%else%>
                 <div class="alert alert-<%= type %>"><%= message %></div>
               <%end%>
            <%end%>
            <%= yield %>
          </div>





  </body>
</html>
